<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bender</title>

    <!-- Google fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css" />
    <!-- animate.css -->
    <link rel="stylesheet" href="stylesheets/animate/animate.css" />
    <link rel="stylesheet" href="stylesheets/animate/set.css" />
    <!-- gallery -->
    <link rel="stylesheet" href="stylesheets/gallery/blueimp-gallery.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <div class="topbar animated fadeInLeftBig"></div>

    <!-- Header Starts -->
    <div class="navbar-wrapper">
      <div class="container">

      </div>
    </div>
    <!-- #Header Starts -->

