<% include ./partials/headers %>

<!-- works -->
<div id="works"  class=" clearfix grid">
  <figure class="effect-oscar  wowload fadeInUp">
    <img src="images/portfolio/9.jpg" alt="img01"/>
    <figcaption>
    <h2 id="temperature"></h2>
    <p>Temperatura Interna </p>
    </figcaption>
  </figure>
  <figure class="effect-oscar  wowload fadeInUp">
    <img src="images/portfolio/4.jpg" alt="img01"/>
    <figcaption>
    <h2 id="luminosity" class="vermelho"></h2>
    <p>Luminosidade Interna<br>
    Lampadas:<br>
    <a href="javascript:;" class="luminosity" data-value="true" >on</a>
    <a href="javascript:;" class="luminosity" data-value="false" >off</a>
</p>
    </figcaption>
  </figure>
  <figure class="effect-oscar  wowload fadeIn">
    <img src="images/portfolio/1.jpg" alt="img01"/>
    <figcaption>
    <h2><%- weather.temp %> ºC</h2>
    <p> <%- weather.description %><br>
    <%- weather.local %></p>
    </figcaption>
  </figure>
</div>
<a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>
<!--Contact Ends-->
<!-- a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a -->

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/bender.js"></script>
</html>
