<% include ./partials/headers %>

<!-- works -->
<div id="works"  class=" clearfix grid">
  <figure class="effect-oscar  wowload fadeInUp">
    <img src="images/portfolio/9.jpg" alt="img01"/>
    <figcaption>
    <h2 id="temperature"></h2>
    <p>Lily likes to play with crayons and pencils<br>
    <a href="images/portfolio/9.jpg" title="1" data-gallery>View more</a></p>
    </figcaption>
  </figure>
  <figure class="effect-oscar  wowload fadeInUp">
    <img src="images/portfolio/4.jpg" alt="img01"/>
    <figcaption>
    <h2 id="luminosity"></h2>
    <p>Lily likes to play with crayons and pencils<br>
    <a href="images/portfolio/4.jpg" title="1" data-gallery>View more</a></p>
    </figcaption>
  </figure>
  <figure class="effect-oscar  wowload fadeIn">
    <img src="images/portfolio/1.jpg" alt="img01"/>
    <figcaption>
    <h2></h2>
    <p>Lily likes to play with crayons and pencils<br>
    <a href="images/portfolio/1.jpg" title="1" data-gallery>View more</a></p>
    </figcaption>
  </figure>
</div>
<!--Contact Ends-->
<!-- a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a -->

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/bender.js"></script>
</html>
