<% include ./partials/headers %>

<% include ./index/panel %>
<% include ./index/bulb %>

<a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>
<!--Contact Ends-->

<% include ./partials/footer %>
<% include ./partials/scripts %>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/bender.js"></script>
</html>
