<div id="about" class="container spacer about">
  <div class="process">
    <h3 class="text-center wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Lampadas </h3>
    <ul class="row text-center list-inline  wowload bounceInUp animated" style="visibility: visible; animation-name: bounceInUp;">
      <li>
        <span><i class="fa fa-lightbulb-o"></i>
          <br>
          <a href="javascript:;" id="1" class="color">Central</a>
        </span>
      </li>
      <li>
        <span><i class="fa fa-lightbulb-o"></i>
          <br>
          <a href="javascript:;" id="2" class="color">Lateral</a>
        </span>
      </li>
      <li>
        <span><i class="fa fa-power-off"></i>
          <br>
          <a href="javascript:;" class="off_all">Desligar</a>
        </span>
      </li>
    </ul>
  </div>
  <input type="hidden" id="bulb_target">
</div>
